.post .comments__container {
  display: flex;
  padding: 10px;
  align-items: center;
  border-top: 1px solid var(--grey);
}

.post .comments__container .comments__container--icon {
  font-size: calc(25 / 16 * 1rem);
}

.post .comments__container input {
  width: 100%;
  padding: 5px;
  border: none;
  outline: none;
  font-size: calc(14 / 16 * 1rem);
}

.post .comments__container button {
  align-items: center;
  font-size: calc(14 / 16 * 1rem);
}

.comments {
  height: 100%;
  max-height: 70px;
  overflow-y: scroll;
}

.comments::-webkit-scrollbar {
  margin-right: 30px;
  background-color: #fff;
  width: 4px;
}
.comments::-webkit-scrollbar-track {
  background-color: transparent;
}
.comments::-webkit-scrollbar-thumb {
  background-color: var(--grey);
  border-radius: 16px;
  border: none;
}
.comments::-webkit-scrollbar-button {
  display: none;
}

.comment {
  display: flex;
  align-items: flex-start;
  margin: 10px 10px 20px 10px;
}
.comment img {
  width: 25px;
  margin-right: 10px;
  border-radius: 50%;
}

.comment .comment__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.comment .comment__wrapper .comment__footer {
  display: flex;

  justify-content: space-between;
  margin-top: 5px;
}

.comment .comment__wrapper .comment__footer {
  display: flex;

  justify-content: space-between;
  margin-top: 8px;
}

.comment .comment__wrapper .comment__footer .comment__delete--button {
  color: #989898;
  font-size: calc(12 / 16 * 1rem);
}

.comment .comment__wrapper .comment__footer p {
  font-size: calc(12 / 16 * 1rem);
  color: #989898;
  font-weight: 600;
}

.comment .comment__wrapper .comment__info {
  display: flex;
  align-items: flex-start;
}

.comment .comment__wrapper .comment__info .comment__heart {
  color: var(--red);
  cursor: pointer;
  margin-left: auto;
  font-size: calc(16 / 16 * 1rem);
}

.comment .comment__wrapper .comment__info .comment__heart.outlined {
  color: var(--black);
}

.comment .comment__wrapper p {
  max-width: 365px;
  font-size: calc(14 / 16 * 1rem);
}

.comment .comment__wrapper .comment__username {
  font-weight: 500;
  margin-right: 5px;
}

.comment p:nth-child(3) {
  word-break: normal;
}

.comment__wrapper .comment__info p .comment__username {
  font-weight: 600;
}
