footer {
  text-align: center;
  font-size: 0.9rem;
  color: #95959d;
}

footer a {
  color: #95959d;
}

.footer__emoji {
  font-size: 0.8rem;
}

footer a:hover {
  color: #656565;
}

.secondary__footer {
  text-align: center;
  margin-top: 30px;
}
