.post {
  width: 100%;
  margin: 15px auto;
  border-radius: 8px;
  border: 1px solid var(--grey);
  background-color: var(--white);
}

.post .post__header {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
}

.post .post__header .post__header--wrapper {
  display: flex;
  align-items: center;
}

.post .post__header .post__header--wrapper img {
  width: 35px;
  margin-right: 10px;
  border-radius: 50%;
}

.post .post__header .post__header--wrapper p {
  font-weight: 500;
  line-height: 1.5;
  font-size: calc(14 / 16 * 1rem);
}

.post .post__header .post__header--wrapper p:nth-child(2) {
  font-weight: 400;
  font-size: calc(12 / 16 * 1rem);
}

.post .post__header.ellipsis {
  font-size: calc(20 / 16 * 1rem);
}

.post .post__image {
  width: 100%;
  border-bottom: 1px solid #eee;
}

/* DESCRIPTION */
.post__description .post__actions {
  display: flex;
  padding: 10px 10px 8px;
  justify-content: space-between;
}

.post__description .post__actions .post__actions--icon {
  cursor: pointer;
  font-size: calc(25 / 16 * 1rem);
}

.post__description .post__actions .post__actions--icon.heart {
  color: var(--red);
}

.post__description .post__actions .post__actions--icon.heart-outline {
  color: var(--black);
}

.post__description .post__actions .post__actions--icon:not(:first-child) {
  margin-left: 10px;
}

.post__description .post__actions .post__actions--icon:nth-child(3) {
  font-size: calc(24 / 16 * 1rem);
}

.post__description .post__likes {
  font-weight: 500;
  padding: 0px 10px 5px 10px;
  font-size: calc(14 / 16 * 1rem);
}

.post__description .post__caption {
  padding: 0px 10px 10px;
  font-size: calc(14 / 16 * 1rem);
}

.post__description .post__caption .thick {
  font-weight: 500;
}

.post .post__commenting {
  display: flex;
  padding: 10px;
  align-items: center;
  border-top: 1px solid var(--grey);
}

.post .post__commenting .post__commenting--icon {
  font-size: calc(25 / 16 * 1rem);
}

.post .post__commenting input {
  width: 100%;
  padding: 5px;
  border: none;
  outline: none;
  font-size: calc(14 / 16 * 1rem);
}

.post .post__commenting button {
  align-items: center;
  font-size: calc(14 / 16 * 1rem);
}

.comments {
  height: 100%;
  max-height: 50px;
  overflow-y: scroll;
}

.comment {
  display: flex;
  align-items: center;
  margin: 5px 10px 10px 10px;
}
.comment img {
  width: 25px;
  margin-right: 5px;
  border-radius: 50%;
}

.comment .comment__wrapper {
  display: flex;
}

.comment .comment__wrapper p {
  font-size: calc(14 / 16 * 1rem);
}

.comment .comment__wrapper .comment__username {
  font-weight: 500;
  margin-right: 5px;
}

.comment p:nth-child(3) {
  word-break: normal;
}
