.hamburger-menu {
  display: none;
  position: relative;
  margin-right: 10px;
}

.hamburger-menu .bars {
  border: none;
  display: flex;
  font-size: 1.8rem;
  background-color: transparent;
}

.hamburger-menu .menu {
  top: 40px;
  right: 5px;
  width: 120px;
  display: flex;
  position: absolute;
  border-radius: 4px;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid #e9e9e9;
  background-color: var(--white);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.hamburger-menu .menu button {
  width: 100%;
  padding: 10px;
  border: none;
  font-weight: 500;
  background-color: transparent;
  font-size: calc(14 / 16 * 1rem);
}

.hamburger-menu .menu button:hover {
  background-color: rgb(249, 249, 249);
}

.hamburger-menu .menu button:first-child {
  border-bottom: 1px solid var(--grey);
}

@media screen and (max-width: 1000px) {
  .hamburger-menu {
    display: flex;
    position: relative;
  }
}
