.header {
  z-index: 1;
  width: 100%;
  height: 60px;
  display: flex;
  position: fixed;
  padding: 10px 30px;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--white);
  border-bottom: 1px solid var(--grey);
}

.wrapper__btn {
  text-decoration: none;
  color: var(--blue);
  font-size: 1rem;
  font-weight: 600;
}

.wrapper__btn:hover {
  text-decoration: underline;
  color: #0079ca;
}

.header__logo img {
  cursor: pointer;
  width: 100%;
  max-width: 110px;
  margin-right: 15rem;
}

.header__wrapper {
  display: flex;
  align-items: center;
}

.wrapper {
  display: flex;
  align-items: center;
}

.wrapper .upload__button {
  border: none;
  display: flex;
  background-color: transparent;
}

.wrapper .upload__button .wrapper__icon {
  cursor: pointer;
  font-size: calc(26 / 16 * 1rem);
  background-color: transparent;
}

.wrapper .wrapper__icon {
  margin: 0 11px;
  font-size: calc(24 / 16 * 1rem);
}

.wrapper .wrapper__icon.house {
  margin-right: 15px;
  font-size: calc(22 / 16 * 1rem);
}

.header__wrapper .wrapper__profile {
  width: 25px;
  margin-left: 12px;
  border-radius: 50%;
}

@media screen and (max-width: 1000px) {
  .header__wrapper .wrapper__profile {
    width: 26px;
    margin-left: 12px;
    border-radius: 50%;
  }

  .wrapper {
    display: none;
  }
}

@media screen and (max-width: 560px) {
  .header {
    padding: 10px 20px;
    justify-content: space-between;
  }

  .header__logo img {
    max-width: 95px;
    margin-right: 0;
  }

  .header__wrapper .upload__button .wrapper__icon {
    font-size: calc(24 / 16 * 1rem);
  }

  .header__wrapper .wrapper__icon {
    margin: 0 10px;
    font-size: calc(22 / 16 * 1rem);
  }

  .header__wrapper .wrapper__icon.home {
    margin-right: 15px;
    font-size: calc(22 / 16 * 1rem);
  }
}

@media screen and (max-width: 390px) {
  .header__wrapper .upload__button .wrapper__icon {
    display: flex;
  }

  .header__wrapper .wrapper__icon {
    display: none;
    margin: 0 10px;
    font-size: calc(22 / 16 * 1rem);
  }
}
